<ion-view title="Galleria">
   <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" locking="true">
         <div class="row" ng-repeat="image in items" ng-if="$index % 4 === 0">
        <div class="col col-25" ng-if="$index < items.length">
            <img class="img-galleria" ng-src="{{items[$index].src}}" width="100%" ng-click="showImages($index)" />
        </div>
        <div class="col col-25" ng-if="$index + 1 < items.length">
            <img class="img-galleria" ng-src="{{items[$index + 1].src}}" width="100%" ng-click="showImages($index + 1)" />
        </div>
        <div class="col col-25" ng-if="$index + 2 < items.length">
            <img class="img-galleria" ng-src="{{items[$index + 2].src}}" width="100%" ng-click="showImages($index + 2)" />
        </div>
        <div class="col col-25" ng-if="$index + 3 < items.length">
            <img class="img-galleria" ng-src="{{items[$index + 3].src}}" width="100%" ng-click="showImages($index + 3)" />
        </div>
    </div>
       <!--  <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true"> 
            <ion-slide ng-repeat="item in items">
                
                <ul class="list">
                    <li class="item item-icon-left">
                    <i class="icon ion-ios7-information-outline"></i> {{item.description}}
                    </li>
                    <li class="item item-icon-left">
                    <i class="icon ion-ios7-navigate-outline"></i> {{item.location}}
                    </li>
                </ul>
                <img ng-src="{{item.src}}"/>
                
            </ion-slide>
        </ion-slide-box> -->

    </ion-content>
</ion-view>