<ion-view title="Galleria">
   <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" locking="true">
         <div class="row" ng-repeat="image in items.data" >

        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-galleria img-responsive" ng-src="{{image.images.standard_resolution.url}}" width="100%" />
        </div>
        
    </div>


       <!--  <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true"> 
            <ion-slide ng-repeat="item in items">
                
                <ul class="list">
                    <li class="item item-icon-left">
                    <i class="icon ion-ios7-information-outline"></i> {{item.description}}
                    </li>
                    <li class="item item-icon-left">
                    <i class="icon ion-ios7-navigate-outline"></i> {{item.location}}
                    </li>
                </ul>
                <img ng-src="{{item.src}}"/>
                
            </ion-slide>
        </ion-slide-box> -->

    </ion-content>
</ion-view>