<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-calm nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Indietro</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-calm">
    <h1 class="title">Menu</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item ng-repeat="item in items" nav-clear menu-close href="{{item.url}}">
        <i class="icon {{item.icon}} calm"></i> {{item.title}}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

    <ion-side-menu side="right">
    <header class="bar bar-header bar-calm">
    <h1 class="title">Menu</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item ng-repeat="item in items" nav-clear menu-close href="{{item.url}}">
        <i class="icon {{item.icon}} calm"></i> {{item.title}}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>


