<ion-view title="Notizie dal Sito">
   <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" overflow-scroll="true">
    
        <div class="list">

            <a class="item" ng-class="{'item-thumbnail-left' : post.attachments.length}" href="#/app/posts/{{$index}}" ng-repeat="post in posts | limitTo: paginationLimit()">
                <img ng-src="{{post.attachments[0].images.thumbnail.url}}" ng-show="{{post.attachments.length}}" alt="{{post.title}}">
                
                <h2>{{post.title}}</h2>
                <p ng-bind-html="post.excerpt"></p>
            </a>

        </div>
        
        <div class="padding">
        <button class="button button-block button-calm" ng-show="hasMoreItems()" ng-click="showMoreItems()" >
        Carica altre notizie
        </button>
        </div>
       
    </ion-content>
</ion-view>