<ion-view title="Dove Siamo">
   <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" data-tap-disabled="true">

        <ui-gmap-google-map center="map.center" refresh="true" zoom="map.zoom" draggable="true">

            <ui-gmap-marker idkey="marker.id" ng-repeat="marker in map.markers" coords="marker" icon="marker.icon" click="onClick()">
                <ui-gmap-window show="windowOptions" coords="marker" closeClick="closeClick">
                {{marker.title}}<br/>
                a {{marker}}
                </ui-gmap-window>
            </ui-gmap-marker>

        </ui-gmap-google-map>
        
    </ion-content>
</ion-view>