<ion-view title="Notifiche & Promozioni">
    <ion-content has-header="true">

        <div ng-repeat="notifica in notifiche" type="item-text-wrap">
            <div class="card">
                <div class="item item-divider">
                    Inviato il: {{ notifica.data }}
                </div>
                <div class="item item-text-wrap">
                    <p>{{notifica.messaggio}}</p>
                </div>
            </div>
        </div>


    </ion-content>
</ion-view>