<ion-view style="" title="Dettaglio">
    <ion-content class="has-header" padding="true">
        <div style="" class="list card">
            <div class="item item-divider">{{conditions.nome}} {{conditions.cognome}}</div>
            
            <div class="item item-body">
                <div style="">
                    <p>
                       Residuo: {{conditions.residuo}}
                    </p>
                </div>
            </div>
        </div>
        <div style="display: inline-block; width: 300px; height: 17px;" class="spacer"></div>
        <div style="" class="list card" >
            <div class="item item-divider">Note</div>
            <div class="item item-body">
                <div style="">
                    <p>
                        {{conditions.note}}
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>