﻿<ion-view title="Chi Siamo">
   <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        
        {{storage}}
        
        <div class="list">

            <a class="item item-thumbnail-left" href="#" ng-repeat="member in about">
                <img ng-src="{{member.picture}}" alt="{{member.title}}">
                
                <h2>{{member.title}}</h2>
                <p>{{member.subtitle}}</p>
                <p><i class="icon ion-email calm "></i> {{member.email}}</p>

                <p><i class="icon ion-social-twitter calm "></i> {{member.twitter}}</p>
                <p><i class="icon ion-social-facebook calm"></i> {{member.linkedin}}</p>

            </a>

        </div>

    </ion-content>
</ion-view>