﻿<ion-view view-title="Chat Room {{ displayName }}" ng-init="initFirst()">
    <ion-content>

        <ion-list>


            <form name="formchat" ng-submit="sendMessage(textMessage.text, utente, conversation_id)">
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <input type="text" ng-model="textMessage.text" placeholder="Scrivi un messaggio">
                    </label>


                    <button class="button button-small button-balanced" type="submit">
                        Invia
                    </button>
                </div>
            </form>


            <ion-item ng-hide="chats" class="textCenter">
                <i class="icon ion-loading-c"></i> Nessuna chat presente
            </ion-item>
            <ion-item ng-if="chats.length == 0" class="textCenter">
                <h4>Nessun messaggio.</h4>
            </ion-item>
            <ion-item class="" ng-repeat="chat in chats | orderBy:'created_at':true" type="item-text-wrap"
                      id="chat-{{ ::$index }}">
                <p ng-class="{'bubble': chat.user_id == 1, 'bubble-alt bubble yellow': chat.user_id != 1}">
                    {{ chat.user_id | nome }}
                    <!-- <my-userid user="{{ chat.user_id  }}">{{ nome }}:</my-userid> -->
                </p>

                <div ng-class="{'bubble': chat.user_id == 1, 'bubble bubble-alt yellow': chat.user_id != 1}">
                    <div class="item-text-wrap">
                        <p>{{chat.reply}}</p>
                    </div>
                <span am-time-ago="chat.created_at" class="item-note">Inviato il: {{ chat.created_at  }}
                </span>
                </div>


                <!--                 <ion-option-button class="button-assertive" ng-click="remove(chat)">
                                    Delete
                                </ion-option-button> -->
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>