﻿<ion-view title="Contattaci">
   <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">

        <div class="list list-inset">
            
            <label class="item item-input">
            <input type="text" placeholder="Soggetto" ng-model="contact.subject">
            </label>

            <label class="item item-input">
            <textarea placeholder="Messaggio" ng-model="contact.body"></textarea>
            </label>

            <label class="item">
            <button class="button button-block button-calm" type="submit" ng-click="submitForm()">Invia Messaggio</button>
            </label>
            
        </div>
   
    </ion-content>
</ion-view>