﻿<ion-view title="Elements">
    
    <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    
    <ion-content class="has-header">
        
        <div class="list">
            
            <div class="item item-divider">Placeholder Labels</div>
            
            <label class="item item-input">
            <input type="text" placeholder="Enter Subject (Text)">
            </label>

            <label class="item item-input">
            <textarea placeholder="Enter Message (Textarea)"></textarea>
            </label>

            <div class="item item-divider">Inline Label</div>
            
            <label class="item item-input">
            <span class="input-label">Username:</span>
            <input type="text">
            </label>

            <div class="item item-divider">Range</div>
            
            <div class="item range range-positive">
            <i class="icon ion-ios7-sunny-outline"></i>
            <input type="range" name="volume" min="0" max="100" value="33">
            <i class="icon ion-ios7-sunny"></i>
            </div>
            
        </div>
            
        <div class="item item-divider">Checkbox</div>
                   
        <ul class="list">
        <li><ion-checkbox ng-checked="true" class="noborder">Checkbox Label</ion-checkbox></li>
        <li><ion-checkbox ng-checked="false" class="noborder">Checkbox Label</ion-checkbox></li>
        </ul>

        <div class="item item-divider">Toggle</div>
                   
        <ul class="list">
        <li><ion-toggle ng-checked="true" toggle-class="toggle-positive" class="noborder">First Option</ion-toggle></li>
        </li><ion-toggle ng-checked="false" toggle-class="toggle-positive" class="noborder">Second Option</ion-toggle></li>
        </ul>
        

        <div class="item item-divider">Radio Buttons</div>
        
        <ul class="list">
        <li><ion-radio ng-model="choice" ng-value="A">Choose A</ion-radio></li>
        <li><ion-radio ng-model="choice" ng-value="B">Choose B</ion-radio></li>
        <li><ion-radio ng-model="choice" ng-value="C">Choose C</ion-radio></li>
        </ul>
    
        <div class="item item-divider">Buttons</div>
                   
        <div class="row">
            
            <div class="col">
                <button class="button button-block button-positive">
                  Block
                </button>
            </div>
            
            <div class="col">
                <button class="button button-block button-outline button-positive">
                Outlined
                </button>
            </div>
            
            <div class="col">
                <a class="button button-block icon-right ion-chevron-right button-positive">Icon</a>
            </div>
            
        </div>
        
        <div class="button-bar padding">
        <a class="button">First</a>
        <a class="button">Second</a>
        <a class="button">Third</a>
        </div>
            
        </div>
        
    </ion-content>
</ion-view>