﻿<ion-view style="" title="Dettaglio">
    <ion-content class="has-header" padding="true">
        <div style="" class="list card">
            <div class="item item-divider">Errore!!</div>
            <div class="item item-body">
                <div style="">
                    <p>
                       Cliente non registrato o codice fiscale errato!
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>