﻿<ion-view title="Notizie da AIC Lazio">
   <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        
        <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
        </ion-refresher>
        
        {{storage}}
        
         <ion-list>

            <div class="item item-icon-left">
            <i class="icon ion-ios7-flag calm"></i>
            {{title}}
            </div>

<!--             <div class="item item-icon-left">
            <i class="icon ion-ios7-information calm"></i>
            <strong>Descrizione:</strong> {{description}}
            </div> -->

            <div class="item item-icon-left">
            <i class="icon ion-social-rss calm"></i>
            <strong>Feed URL:</strong> {{link}}
            </div>

            <div class="item item-divider calm">Notizie (Scorri per aggiornare)</div>
            
            <a class="item" ng-class="{'item-thumbnail-left' : getImage($index)}" href="#/app/feeds/{{$index}}" ng-repeat="feed in feeds">
                
                <img ng-if="getImage($index)" ng-src="{{getImage($index)}}" class="thumbnail" alt="{{feed.title}}">
                
                <h2 class="title">{{feed.title}}</h2>
                <p ng-bind-html="feed.contentSnippet"></p></p>
            </a>
        
         </ion-list>
    
    </ion-content>
</ion-view>