﻿<ion-view title="{{entry.title}}">
    
    <ion-nav-buttons side="right">
    <a class="button button-clear" ng-click="shareEntry()"><i class="icon ion-share"></i></a>

    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>

    </ion-nav-buttons>
    
    <ion-content class="has-header">
        
        <div class="padding">
            
            <h2 class="title">{{entry.title}}</h2>
            <div style="padding:0 0 20px 0;">Creato il {{entry.publishedDate }}</div>
            <p ng-bind-html="content"></p>
            
            <p><button class="button icon-left ion-share button-outline button-calm" ng-click="shareEntry()">Condividi</button></p>   

            <button class="button button-full button-calm" ng-click="loadURL(entry.link)">
            Visualizza Notizia
            </button>    
            
        </div>

    </ion-content>
</ion-view>