﻿<ion-view title="Galleria">
   <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" locking="true">

        <ion-gallery ion-gallery-items="items2" ion-gallery-row="3"></ion-gallery>

    </ion-content>
</ion-view>