﻿<ion-view title="Grid">
    
    <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    
    <ion-content class="has-header">
        
        <div class="item item-divider">Evenly Spaced Columns</div>
        
        <div class="row">
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">.col</div>
        </div>
        
        <div class="item item-divider">Explicit Column Sizes</div>
            
        <div class="row">
            <div class="col col-50">.col.col-50</div>
            <div class="col">.col</div>
            <div class="col">.col</div>
        </div>

        <div class="row">
            <div class="col col-75">.col.col-75</div>
            <div class="col">.col</div>
        </div>

        <div class="row">
            <div class="col">.col</div>
            <div class="col col-75">.col.col-75</div>
        </div>

        <div class="row">
            <div class="col">.col</div>
            <div class="col">.col</div>
        </div>
        
        <div class="item item-divider">Offset Columns</div>
        
        <div class="row">
            <div class="col col-33 col-offset-33">.col</div>
            <div class="col">.col</div>
        </div>

        <div class="row">
            <div class="col col-33">.col</div>
            <div class="col col-33 col-offset-33">.col</div>
        </div>

        <div class="row">
            <div class="col col-33 col-offset-67">.col</div>
        </div>
        
        <div class="item item-divider">Vertically Align Columns</div>
        
        <div class="row">
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">1<br>2<br>3<br>4</div>
        </div>

        <div class="row">
            <div class="col col-top">.col</div>
            <div class="col col-center">.col</div>
            <div class="col col-bottom">.col</div>
            <div class="col">1<br>2<br>3<br>4</div>
        </div>

        <div class="row row-top">
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">1<br>2<br>3<br>4</div>
        </div>

        <div class="row row-center">
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">1<br>2<br>3<br>4</div>
        </div>

        <div class="row row-bottom">
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">1<br>2<br>3<br>4</div>
        </div>
     
    </ion-content>
</ion-view>