﻿<ion-view title="MSG Boccea">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <!--     <ion-nav-buttons side="right">
        <a class="button button-clear" href="#/app/settings"><i class="icon ion-gear-a"></i></a>
        </ion-nav-buttons>  -->
    <ion-content class="has-header">

        <div class="list">

            <a ng-repeat="item in items" class="item item-icon-left" href="{{item.url}}" ng-click="item.badge=false">
                <i class="icon {{item.icon}} calm"></i>
                {{item.title}}


             <span class="item-note">
            {{item.note}}
            </span>

                <span class="" ng-class="{badge1: item.badge, animated: item.badge, shake: item.badge}"
                      data-badge="{{item.newsnumber}}">
            </span>
            </a>

        </div>

    </ion-content>
</ion-view>