﻿<div class="modal image-modal transparent" ng-click="closeModal()">
    <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="true" active-slide="activeSlide">
        <ion-slide ng-repeat="image in items">
            <img ng-src="{{image.src}}" class="fullscreen-image"/>
            <!-- <div class="desc">{{image.description}}</div> -->
        </ion-slide>
    </ion-slide-box>
</div>