﻿<ion-view title="{{member.title}}">
    <ion-content class="has-header">
        
        <div class="padding">
            <h2 class="title">{{member.title}}</h2>
            <p>{{member.subtitle}}</p>
            <p>{{member.body}}</p>
            <p><i class="icon ion-email"></i> {{member.email}}</p>
            <p><i class="icon ion-social-linkedin"></i> {{member.linkedin}}</p>
            <p><i class="icon ion-social-twitter"></i> {{member.twitter}}</p>
        </div>

    </ion-content>
</ion-view>