﻿<ion-view title="News">
    <ion-content class="has-header">
        
        {{storage}}
        
        <div class="list">

            <a class="item" ng-class="{'item-thumbnail-left' : new.picture}" href="#/app/news/{{$index}}" ng-repeat="new in news">
                <img ng-src="{{new.picture}}" alt="{{new.title}}">
                
                <h2>{{new.title}}</h2>
                <p>{{new.body}}</p>
            </a>

        </div>
       
    </ion-content>
</ion-view>