﻿<ion-view style="" title="MSG Boccea">
   <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" padding="true">
        <!--<img style="width: 100%; height: auto;" src="logo.png" class="img-responsive">-->
        <form name="formfiscale" style="">
            <div style="width: 300px; height: 51px;" class="spacer"></div>
             <div style="" class="list card">   
             <div class="item item-divider">Inserisci il codice fiscale</div>
                <label style="" class="item item-input">
                <input placeholder="" type="text" name="codice_fiscale" ng-model="cf" />
            </label>
            </div>
            <div style="width: 300px; height: 29px;" class="spacer"></div>
            <button type="submit" ng-click="aggiungicf(cf)" class="button button-calm button-block">Controlla il tuo residuo!</button>
        </form>
        
    </ion-content>
</ion-view>
