﻿<ion-view title="{{post.title}}">
    
    <ion-nav-buttons side="right">
    <a class="button button-clear" ng-click="sharePost()"><i class="icon ion-share"></i></a>
    </ion-nav-buttons>
    
    <ion-content class="has-header">
        
        <div class="padding">
            <h2 class="title">{{post.title}}</h2>

            <div style="padding:0 0 20px 0;">
            Creato il {{post.date}} da <strong>{{post.author.name}}</strong><br/>
            <!-- <em>Modified {{post.modified}}</em> -->
            </div>
            
            <p ng-show="{{post.attachments.length}}"><img ng-src="{{post.attachments[0].images.full.url}}"/></p>

            <p ng-bind-html="content"></p>

            <p ng-show="{{post.categories.length}}"><i class="icon ion-ios7-pricetags"></i>
            <span ng-repeat="category in post.categories">{{category.title}} ({{category.post_count}}){{$last ? '' : ', '}}</span>
            </p>

            <p ng-show="{{post.tags.length}}"><i class="icon ion-ios7-pricetags"></i>
            <span ng-repeat="tag in post.tags">{{tag.title}} ({{tag.post_count}}){{$last ? '' : ', '}}</span>
            </p>
            
            <p><button class="button icon-left ion-share button-outline button-positive" ng-click="sharePost()">Condividi!</button></p>
                  
            <button class="button button-full button-positive" ng-click="loadURL(post.url)">
            Visualizza articolo
            </button>
            
        </div>

    </ion-content>
</ion-view>