﻿<ion-view title="Tabs">
    
    <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    
    <ion-content class="has-header">

        <ion-tabs class="tabs-icon-only">

            <ion-tab title="Home" icon-on="ion-ios7-home" icon-off="ion-ios7-home-outline">
                <div class="padding"><strong>[Home]</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </ion-tab>

            <ion-tab title="Comments" icon-on="ion-ios7-chatboxes" icon-off="ion-ios7-chatboxes-outline">
                <div class="padding"><strong>[Comments]</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </ion-tab>

            <ion-tab title="Settings" icon-on="ion-ios7-gear" icon-off="ion-ios7-gear-outline">
                <div class="padding"><strong>[Settings]</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </ion-tab>

        </ion-tabs>
        
    </ion-content>
</ion-view>