﻿<ion-view title="Barcode Scanner">
    <ion-content class="has-header">
        
        <button class="button button-full ion-qr-scanner button-dark" ng-click="scan()">
        Scan
        </button>
        
        <div class="list">

            <div class="item">
            Result
            <span class="item-note">
            {{result.text}}
            </span>
            </div>
            
            <div class="item">
            Format
            <span class="item-note">
            {{result.format}}
            </span>
            </div>
            
            <div class="item">
            Cancelled
            <span class="item-note">
            {{result.cancelled}}
            </span>
            </div>
            
            <div class="item">
            Error
            <span class="item-note">
            {{error}}
            </span>
            </div>

        </div>

    </ion-content>
</ion-view>