﻿<ion-view title="Device">
    <ion-content class="has-header">
        
        <div class="list">

            <div class="item">
            Model
            <span class="item-note">
            {{device.model}}
            </span>
            </div>
            
            <div class="item">
            UUID
            <span class="item-note">
            {{device.uuid}}
            </span>
            </div>
            
            <div class="item">
            Cordova
            <span class="item-note">
            {{device.cordova}}
            </span>
            </div>
            
            <div class="item">
            Platform
            <span class="item-note">
            {{device.platform}}
            </span>
            </div>
            
            <div class="item">
            Version
            <span class="item-note">
            {{device.version}}
            </span>
            </div>

        </div>

    </ion-content>
</ion-view>