﻿<ion-view title="Geolocation">
    <ion-content class="has-header" data-tap-disabled="true">
        
        <ui-gmap-google-map center="map.center" refresh="true" zoom="map.zoom" draggable="true">

            <ui-gmap-marker idkey="1" coords="map.marker">
            </ui-gmap-marker>

        </ui-gmap-google-map>
        
    </ion-content>
</ion-view>