﻿<ion-view title="Device">
    <ion-content class="has-header">
        
    <div class="list">

        <div class="item item-button-right">
        Alert
        <button class="button button-positive" ng-click="alertNotify()">
        Alert
        </button>
        </div>
        
        <div class="item item-button-right">
        Beep
        <button class="button button-positive" ng-click="beepNotify()">
        Beep
        </button>
        </div>
        
        <div class="item item-button-right">
        Confirm
        <button class="button button-positive" ng-click="confirmNotify()">
        Confirm
        </button>
        </div>
        
        <div class="item item-button-right">
        Vibrate
        <button class="button button-positive" ng-click="vibrateNotify()">
        Vibrate
        </button>
        </div>

    </div>

    </ion-content>
</ion-view>